:root {
    --header-height: 82px;
    --color-keyword: #ff9300;
    --header-between-height: 44px;
} 

.none {
    display: none;
    background-color: none;
}

@keyframes showroom-online {
    from {
        opacity: 0;
        transform: translateY(45px);
    }

    to {
        opacity: 1;
        transform: translateY(6px);
    }
}

@keyframes category-menu {
    from {
        opacity: 0;
        transform: translateX(15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}